@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterLoginModel
@inject SignInManager<ApplicationUser> SignInManager
@{
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel='stylesheet' href="~/css/style.css" />
</head>

<body background="">
    

        <div class="login-wrap">

            <div class="login-html">
               

                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                   

                                                                              <div class="login-form">
                                                                                  @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                                                                  {
                                                                                      <div class="sign-in-htm">
                                                                                          <div class="group">
                                                                                              <label asp-for="LoginModel.UserName" class="label">Username</label>
                                                                                              <input asp-for="LoginModel.UserName" type="text" class="input">
                                                                                              <span asp-validation-for="LoginModel.UserName" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <label asp-for="LoginModel.Password" class="label">Password</label>
                                                                                              <input asp-for="LoginModel.Password" id="pass" type="password" class="input" data-type="password">
                                                                                              <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              
                                                                                                  <input id="check" class="check" checked>
                                                                                                  <label asp-for="LoginModel.RememberMe">
                                                                                                      
                                                                                                
                                                                                                      <input asp-for="LoginModel.RememberMe" />
                                                                                                      @Html.DisplayNameFor(m => m.LoginModel.RememberMe)
                                                                                                  </label>
                                                                                             
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <input type="submit" class="button" value="Sign In">
                                                                                          </div>
                                                                                          <div class="hr"></div>
                                                                                          <div class="foot-lnk">
                                                                                              <a href="#forgot">Forgot Password?</a>
                                                                                          </div>
                                                                                          <div class="foot-lnk">
                                                                                              <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" width="250" height="70">
                                                                                          </div>
                                                                                      </div>
                                                                                  }



                                                                                  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                                                                                  {


                                                                                      <div class="sign-up-htm">
                                                                                          <div asp-validation-summary="All" class="text-danger"></div>
                                                                                          <div class="group">
                                                                                              <label asp-for="RegisterModel.UserName" class="label"></label>
                                                                                              <input asp-for="RegisterModel.UserName" class="input" />
                                                                                              <span asp-validation-for="RegisterModel.UserName" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <label asp-for="RegisterModel.PhoneNumber" class="label"></label>
                                                                                              <input asp-for="RegisterModel.PhoneNumber" class="input" />
                                                                                              <span asp-validation-for="RegisterModel.PhoneNumber" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <label asp-for="RegisterModel.Email" class="label" ></label>
                                                                                              <input asp-for="RegisterModel.Email" class="input" />
                                                                                              <span asp-validation-for="RegisterModel.Email" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <label asp-for="RegisterModel.Password" class="label"></label>
                                                                                              <input asp-for="RegisterModel.Password" class="input" />
                                                                                              <span asp-validation-for="RegisterModel.Password" class="text-danger"></span>
                                                                                          </div>
                                                                                          <div class="group">
                                                                                              <label asp-for="RegisterModel.ConfirmPassword" class="label"></label>
                                                                                              <input asp-for="RegisterModel.ConfirmPassword" class="input" />
                                                                                              <span asp-validation-for="RegisterModel.ConfirmPassword" class="text-danger"></span>
                                                                                          </div>

                                                                                          <div class="group">
                                                                                              <input type="submit" class="button" value="Sign Up">
                                                                                          </div>
                                                                                          <div class="hr"></div>
                                                                                          <div class="foot-lnk">
                                                                                              <label for="tab-1">Already Member?</label>
                                                                                          </div>
                                                                                      </div>
                  }
 @section Scripts {
 @await Html.PartialAsync("_ValidationScriptsPartial")
 }
   </div>
    </div>

    
 </div>
</body>

</html>
