@{
    ViewBag.Title = "Messages";
}

<html>
<body>
    <style type="text/css" media="all">
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            border-radius: 10px;
            border-spacing: 0;
            text-align: center;
        }

        th {
            background: #BCEBDD;
            color: white;
            text-shadow: 0 1px 1px #2D2020;
            padding: 10px 20px;
        }

        th, td {
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }

            th:first-child, td:first-child {
                text-align: left;
            }

            th:first-child {
                border-top-left-radius: 10px;
            }

            th:last-child {
                border-top-right-radius: 10px;
                border-right: none;
            }

        td {
            padding: 10px 20px;
            background: #F8E391;
        }

        tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }

        tr td:last-child {
            border-right: none;
        }
        </style>
    <div><a href="/Message/AddNewMessage">Write new message</a></div>
    
        <h4>Messages</h4>
        <table align="center" border="1">
            <tr>
                <th align="center"><b>Text Of Your Message:</b></th>
                <th align="center"><b>Recepient phone</b></th>
            </tr>
            @foreach (var mes in ViewBag.MessagesWithRecipients)
            {
            <tr>
                <td><p>@mes.Message.TextOfMessage</p></td>

                @foreach (var phone in mes.Phones)
                {

                    <td>@phone.PhoneNumber</td>

                }
            </tr>
            }
        </table>
    
</body>
</html>
