@{
    ViewBag.Title = "Messages";
}

<html>
<body>
    <style type="text/css" media="all">
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            border-radius: 10px;
            border-spacing: 0;
            text-align: center;
        }

        th {
            background: #BCEBDD;
            color: white;
            text-shadow: 0 1px 1px #2D2020;
            padding: 10px 20px;
        }

        th, td {
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }

            th:first-child, td:first-child {
                text-align: left;
            }

            th:first-child {
                border-top-left-radius: 10px;
            }

            th:last-child {
                border-top-right-radius: 10px;
                border-right: none;
            }

        td {
            padding: 10px 20px;
            background: #F8E391;
        }

        tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }

        tr td:last-child {
            border-right: none;
        }
    </style>
    <script type="text/javascript">
        {
            var phones = [];
        }
    </script>

    <section>
        <h4>Messages</h4>
        <table style="display: inline-block;" border="1">
            <tr>
                <th align="center"><b>Text Of Your Message:</b></th>
                <th align="center"><b>Recepient phone</b></th>
            </tr>
            @foreach (var mes in ViewBag.MessagesWithRecipients)
            {
                <tr>
                    <td><p>@mes.Message.TextOfMessage</p></td>

                    @foreach (var phone in mes.Phones)
                    {

                        <td>@phone.PhoneNumber</td>

                    }
                </tr>
            }
        </table>
        <table align="right" style="display: inline-block;" border="1">
            <tr>
                <td>
                    <form id="Myform" style="display: inline-block;">
                        <div id="recepient">
                            Recepients
                            <div>
                                <input type="text" id="recepientEditor">
                            </div>
                        </div>

                        <div>
                            <input type="button" id="addRecepient" value="Add Recepient" />
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <table align="right" style="display: inline-block;" border="1">
            <tr>
                <td>
                    <form id="Myform" style="display: inline-block;">
                        <h4>AddNewMessage</h4>

                        <div>
                            TextOfMessage
                            <div>
                                <input type="text" id="messageEditor">
                            </div>
                        </div>

                        <div>
                            <div>
                                <textarea id="phones" value="Add Message" rows="15"></textarea>
                            </div>
                        </div>

                        <div>
                            <div>
                                <input type="submit" value="Add Message" id="sendMessage" />
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>

        <script type="text/javascript">
            document.getElementById("addRecepient").onclick = function () {
                var input = document.getElementById("recepientEditor")
                phones.push(input.value);
                var textarea = document.getElementById("phones");
                textarea.textContent += input.value + "\n";
                input.value = "";
            }
        </script>
        <script type="text/javascript">
            document.getElementById("sendMessage").onclick = function () {
                var input = document.getElementById("messageEditor")
                var Message = {};
                Message.TextOfMessage = input.value;
                Message.Recepients = phones;
                $.ajax({
                    url: '/Message/Messages',
                    //contentType: 'application/json; charset=utf-8',
                    //dataType: 'json',
                    type: 'POST',
                    data: Message
                });
            }
        </script>
    </section>


</body>
</html>